@model List<shoper.Models.Product>
@{
    ViewBag.Title = "Home Page";
}
<section class="main-content">
    <div class="">
        <div class="">
            <ul class="thumbnails listing-products">

                <li class="span3">
                    @if (Model.Count > 0)
                    {
                        var product = Model.First(); 
                        <div class="product-box">
                            <a href="product_detail.html">
                                <img alt="" src="~/Content/themes/images/ladies/1.jpg">
                            </a><br />
                            <a href="product_detail.html" class="title">@product.ProductName</a><br />
                            <a href="#" class="category">@product.Description</a>
                            <p class="price">$@product.Price</p>
                        </div>
                    }
                </li>
                <li class="span3">
                    @if (Model.Count > 1)
                    {
                        var product = Model[1];
                        <div class="product-box">
                            <a href="product_detail.html">
                                <img alt="" src="~/Content/themes/images/ladies/2.jpg">
                            </a><br />
                            <a href="product_detail.html" class="title">@product.ProductName</a><br />
                            <a href="#" class="category">@product.Description</a>
                            <p class="price">$@product.Price</p>
                        </div>
                    }
                </li>
                <li class="span3">
                    @if (Model.Count > 2)
                    {
                        var product = Model[2];
                        <div class="product-box">
                            <a href="product_detail.html">
                                <img alt="" src="~/Content/themes/images/ladies/3.jpg">
                            </a><br />
                            <a href="product_detail.html" class="title">@product.ProductName</a><br />
                            <a href="#" class="category">@product.Description</a>
                            <p class="price">$@product.Price</p>
                        </div>
                    }
                </li>
                <li class="span3">
                    @if (Model.Count > 3)
                    {
                        var product = Model[3];
                        <div class="product-box">
                            <a href="product_detail.html">
                                <img alt="" src="~/Content/themes/images/ladies/4.jpg">
                            </a><br />
                            <a href="product_detail.html" class="title">@product.ProductName</a><br />
                            <a href="#" class="category">@product.Description</a>
                            <p class="price">$@product.Price</p>
                        </div>
                    }
                </li>
                <li class="span3">
                    @if (Model.Count > 4)
                    {
                        var product = Model[4];
                        <div class="product-box">
                            <a href="product_detail.html">
                                <img alt="" src="~/Content/themes/images/ladies/5.jpg">
                            </a><br />
                            <a href="product_detail.html" class="title">@product.ProductName</a><br />
                            <a href="#" class="category">@product.Description</a>
                            <p class="price">$@product.Price</p>
                        </div>
                    }
                </li>
                <li class="span3">
                    @if (Model.Count > 5)
                    {
                        var product = Model[5];
                        <div class="product-box">
                            <a href="product_detail.html">
                                <img alt="" src="~/Content/themes/images/ladies/6.jpg">
                            </a><br />
                            <a href="product_detail.html" class="title">@product.ProductName</a><br />
                            <a href="#" class="category">@product.Description</a>
                            <p class="price">$@product.Price</p>
                        </div>
                    }
                </li>
                <li class="span3">
                    @if (Model.Count > 6)
                    {
                        var product = Model[6];
                        <div class="product-box">
                            <a href="product_detail.html">
                                <img alt="" src="~/Content/themes/images/ladies/7.jpg">
                            </a><br />
                            <a href="product_detail.html" class="title">@product.ProductName</a><br />
                            <a href="#" class="category">@product.Description</a>
                            <p class="price">$@product.Price</p>
                        </div>
                    }
                </li>
                <li class="span3">
                    @if (Model.Count > 7)
                    {
                        var product = Model[7];
                        <div class="product-box">
                            <a href="product_detail.html">
                                <img alt="" src="~/Content/themes/images/ladies/8.jpg">
                            </a><br />
                            <a href="product_detail.html" class="title">@product.ProductName</a><br />
                            <a href="#" class="category">@product.Description</a>
                            <p class="price">$@product.Price</p>
                        </div>
                    }
                </li>
                <li class="span3">
                    @if (Model.Count > 8)
                    {
                        var product = Model[8];
                        <div class="product-box">
                            <a href="product_detail.html">
                                <img alt="" src="~/Content/themes/images/ladies/9.jpg">
                            </a><br />
                            <a href="product_detail.html" class="title">@product.ProductName</a><br />
                            <a href="#" class="category">@product.Description</a>
                            <p class="price">$@product.Price</p>
                        </div>
                    }
                </li>
            </ul>
            <hr>
            <div class="pagination pagination-small pagination-centered">
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</section>